* {
  margin: 0%;
  padding: 0%;
}
body {
  margin: 15px;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  text-align: center;
  margin-top: 10px;
  align-items: center;
}
.searching {
  margin-top: 20px;
}

.vertical {
  border-left: 1px solid black;
  height: 130px;
  position: absolute;
  left: 50%;
}
.rx {
  width: 80px;
  height: 80px;
}
input {
  border: none;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: left;
}
.howashafi {
  margin: auto;
  text-align: center;
}
.headone h1 h2 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.headtwo {
  margin-left: 82px;
}
.pediatricion {
  font-style: italic;
}

.patientList {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.patientList .nameInput {
  flex: 1;
  min-width: 70%;
}
.patientList .nameInput > input {
  min-width: 100%;
}
.patientList .dateInput {
  min-width: 30%;
}
.patientList .dateInput > input {
  width: 95%;
  border-bottom: 1px solid #000;
}

.form{
  padding: 10px;
  display: flex;
  column-gap: 10px;
}
.commonInput{
  flex: 1;
}
.commonInput input{
  width: 100%;
}


input {
  outline: none;
  border-bottom: 1px solid #000;
}
span {
  display: block;
  color: rgb(205, 2, 2);
}
.complains {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.complainsinput {
  border: none;
  font-size: 18px;
  font-style: italic;
  outline: none;
  height: auto;
}

label {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.investigationinput {
  border: none;
  font-size: 18px;
  font-style: italic;
}
.investigation {
  border: none;
}
.history {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  border: none;
  font-size: 18px;
}
.historyinput {
  font-size: 18px;
  border: none;
}
.fee {
  margin-top: 50px;
  font-size: 25px;
  position: relative;
}
.fee label {
  width: auto;
  font-size: 25px;
  font-weight: bold;
}
.feeInput {
  margin-left: 3px;
}
.fee input {
  width: 92%;
  border-bottom: 1px solid black;
  font-size: 25px;
}
.btn1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.addmedicine {
  margin-right: 40px;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: rgb(37, 150, 190);
  border: none;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.addmedicine:hover {
  color: rgb(37, 150, 190);
  background-color: aliceblue;
}
.label2 {
  display: flex;
  justify-content: space-around;
  font-style: normal;
  font-weight: 16px solid black;
  font-size: 20px;
}
.label2 label {
  font-style: normal;
}
.horizantial {
  color: black;
  height: 3px;
  width: 100%;
  background-color: black;
}

/*   */
.medicinesName {
  width: auto;
  margin-top: 15px;
}
.cross {
  position: relative;
  padding: 0px 10px 0px 20px;
}

.petientdosagelist {
  display: flex;
}
.count {
  width: 12px;
  padding-right: 20px;
}
.medicines {
  border: none;
  border-bottom: 1px solid black;
  font-size: 17px;
  width: 65%;
  font-style: normal;
  padding: 10px;
}
.dosagelist {
  width: 30%;
  border: none;
  border-bottom: 1px solid black;
  margin-left: 15px;
  font-style: normal;
  font-size: 17px;
  padding: 10px;
}
.save {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.petientdosagelist {
  align-items: center;
}

.savebtn {
  width: 120px;
  height: 40px;
  background-color: rgb(37, 150, 190);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.savebtn:hover {
  width: 120px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 5px;
  border: none;
  color: rgb(37, 150, 190);
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.followup {
  font-size: 18px;
  border: none;
}
